[
  {
    "name": "OPENAI_API_KEY",
    "value": "111"
  },
  {
    "name": "SLACK_BOT_TOKEN",
    "value": "111"
  },
  {
    "name": "SLACK_SIGNING_SECRET",
    "value": "111"
  },
  {
    "name": "SLACK_APP_TOKEN",
    "value": "111"
  }
]
